* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

input {
  width: 320px;
}

.country-item {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.country-item:not(:last-child) {
  margin-bottom: 15px;
}

.country-item-card {
  font-weight: 700;
  font-size: 28px;
}

.image-flag {
  margin-right: 12px;
  display: inline-block;
}

.country-list {
  padding: 0;
  margin: 0;
}

.country-info {
  margin-top: 20px;
}
.text-info {
  margin: 0px 0px 8px 0px;
  font-size: 18px;
}

.header-info {
  font-weight: bolder;
}
